/* AddCenter.css */

.add-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-center-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.center-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #0056b3;
}

.error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.see-all-centers {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.see-all-centers:hover {
  text-decoration: underline;
}

