.centers-container {
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.title {
  color: white;
}

.logout-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #e74c3c;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.center-info {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.delete-btn,
.update-btn
 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.delete-btn:hover,
.update-btn:hover {
  background-color: #0056b3;
}

.add-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-align: center; 
}
